@import '../variants.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: #{$spacing * 4};
  padding: #{$spacing * 4} 0;
  text-align: center;

  h1 {
    font-size: 2.5rem;
  }

  span {
    max-width: 540px;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: #{$spacing * 5};

    @include breakpoint(md) {
      flex-direction: row;
      gap: #{$spacing * 15};
    }

    &__card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      background: $light-bg;
      color: $dark-text;
      border-radius: #{$borderRadius * 2};
      padding: #{$spacing * 4} $spacing;
      gap: #{$spacing * 2};

      @include breakpoint(md) {
        max-width: 425px;
      }

      img {
        max-width: 100%;
        max-height: 100%;

        @include breakpoint(md) {
          max-width: 406px;
          max-height: 227px;
          object-fit: fill;
        }
      }

      h2 {
        font-size: 1.5rem;
      }
    }
  }
}
