@import '../variants.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: #{$spacing * 4};
  padding: #{$spacing * 4} 0;
  text-align: center;
  h1 {
    font-size: 2.5rem;
  }

  span {
    max-width: 540px;
  }

  &__partners {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 75%;
    gap: 70px;

    @include breakpoint(md) {
      justify-content: space-evenly;
    }

    img {
      max-width: 80px;
      max-height: 80px;
    }
  }
}
